.nav-header {
  background-color: #39474E;
}
.body {
  background-color: hsl(0, 0%, 79%);
  padding-bottom: 3em;
}
.votearrow[title=upvote] {
  background: none !important;
}
.votearrow[title=upvote] {
  content: '';
  margin-left: .5em;
  position: relative;
  top: 1em;
  right: .5em;
  width: 0;
  height: 0;
  border: .3em solid transparent;
  border-bottom: .6em solid #999;
}
.content {
  display: block;
  position: relative;
  bottom: 3em;
  left: 3em;
  margin-left: 1em;
  margin-top: 1em;
}

.content #vote {
  position: relative;
  right: 1.5em;
}

#comment_list {
  display: block;
  position: relative;
  bottom: 3.3em;
  left: 3em;
  margin-left: 1em;
  margin-top: 1em;
  width: 70em;
}
